# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/.gradle/
android/captures/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/

# IDE
.idea/
.vscode/
*.lock

